#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# $(KERNEL_DIR)/kernel/configs/moto_extra.config
#
# The actual output of the kernel configuration system can be found at:
# out_krn/target/product/$(PRODUCT)/obj/KLEAF_OBJ/dist/xxx/yyy.userdebug/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_DRM_PANEL_CSOT_NT37707_667_FHDP_DPHY_CMD=m
CONFIG_DRM_PANEL_CSOT_NT37705_1056x1068_DPHY_CMD_CLI=m
CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=m

CONFIG_MOTO_CHG_TCMD_SUPPORT=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_aito_s5kgn8_mipi_raw mot_aito_ov32b_mipi_raw mot_aito_hi1336_mipi_raw"

CONFIG_MOTO_WL2864C=m
#add for i2c tool
CONFIG_I2C_CHARDEV=y
CONFIG_MTK_VIDEO_AW36518=m
CONFIG_MTK_EEPROM_PROJECT="aito"
CONFIG_INPUT_MISC_FPC1020_SAVE_TO_CLASS_DEVICE=y
CONFIG_MOTO_WLC_ALG_SUPPORT=m

# CONFIG_SND_SOC_TFA9874 is not set
CONFIG_SND_SOC_TFA9865=m
