#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# $(KERNEL_DIR)/kernel/configs/moto_extra.config
#
# The actual output of the kernel configuration system can be found at:
# out_krn/target/product/$(PRODUCT)/obj/KLEAF_OBJ/dist/xxx/yyy.userdebug/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_DRM_PANEL_CSOT_NT37707_667_FHDP_DPHY_CMD=m
CONFIG_DRM_PANEL_TIANMA_NT37707_667_FHDP_DPHY_CMD=m
CONFIG_DRM_PANEL_CSOT_NT37705_1056x1066_DPHY_CMD_CLI=m
CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=m
CONFIG_DRM_PANEL_MOT_DUMMY_CMD_60HZ=m

CONFIG_MOTO_CHG_TCMD_SUPPORT=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_vienna_imx896_mipi_raw mot_vienna_s5kjd1_mipi_raw mot_vienna_gc13a2_mipi_raw mot_vienna_s5k3k1_mipi_raw"
CONFIG_MOTO_HL7603=m
CONFIG_MOTO_WL2864C=m
CONFIG_MOTO_ET5904=m
CONFIG_MOTO_ET59041C=m
#add for i2c tool
CONFIG_I2C_CHARDEV=y
CONFIG_MTK_VIDEO_AW36518=m
CONFIG_MTK_EEPROM_PROJECT="aito"
CONFIG_MOT_AK7377_HALL_TEST=y
CONFIG_INPUT_MISC_FPC1020_SAVE_TO_CLASS_DEVICE=y
CONFIG_AAC_RICHTAP_SUPPORT=y
CONFIG_MOTO_CHG_WT6670F_SUPPORT=n
CONFIG_MOTO_CHG_BATT_TEMP_NTC_100K=y
CONFIG_MOTO_WLC_ALG_SUPPORT=m
CONFIG_MOTO_CAM_SGM62110=m
CONFIG_DISABLE_SUPPORT_MMI_ADAPTER=y
CONFIG_MOT_DW9784_AF_DRIFT=y

# CONFIG_SND_SOC_TFA9874 is not set
CONFIG_SND_SOC_TFA9865=m
CONFIG_TOUCHSCREEN_GOODIX_BRL_SPI=y
CONFIG_INPUT_TOUCHSCREEN_MMI=y
CONFIG_INPUT_GOODIX_MMI_ENABLE_PALM=y
CONFIG_GTP_USE_MMI_INFO=y
CONFIG_GTP_MULTI_CONFIG=y
CONFIG_TOUCHCLASS_MMI_MTK_CHARGER=y
CONFIG_GTP_LAST_TIME=y
CONFIG_BOARD_USES_DOUBLE_TAP_CTRL=y
CONFIG_ENABLE_GTP_PALM_CANCEL=y
CONFIG_MTK_PROJECT_NAME="vienna"
CONFIG_MOTO_LIGHT_1_SENSOR=y
CONFIG_MOTO_SENSOR_MAG_FLIP_SUPPORT=y

# Motorola V2 File Based Encryption Driver Support.
CONFIG_FSCRYPT_WRAPED_KEY_MODE_SUPPORT=y

# Add swtp customization
CONFIG_MOTO_SWTP_CUST=y

# Add UFS HID
CONFIG_UFSFEATURE=y
CONFIG_UFSHID=y
CONFIG_MICRON_UFSHID=y
CONFIG_SCSI_SKHID=y

# 1M log buffer
CONFIG_LOG_BUF_SHIFT=20
