#
# motorola touchscreen driver configuration
#
config TOUCHSCREEN_GOODIX_BRL_SPI
	bool "Support SPI bus connection"
	help
		Say Y here if the touchscreen is connected via SPI bus.

config INPUT_TOUCHSCREEN_MMI
	bool "Support moto touchscreen mmi framework"
	help
		Say Y here if the touchscreen_mmi be used.

config GTP_USE_MMI_INFO
	bool "Use mmi info for get panel name"
	help
		Say Y here if use mmi_info.

config GTP_MULTI_CONFIG
	bool "Use different config files"
	help
		Say Y here if use use different config names based on different modules.
