#
# motorola touchscreen driver configuration
#
config TOUCHSCREEN_GOODIX_BRL_SPI
	bool "Support SPI bus connection"
	help
		Say Y here if the touchscreen is connected via SPI bus.

config INPUT_TOUCHSCREEN_MMI
	bool "Support moto touchscreen mmi framework"
	help
		Say Y here if the touchscreen_mmi be used.

config GTP_USE_MMI_INFO
	bool "Use mmi info for get panel name"
	help
		Say Y here if use mmi_info.

config GTP_MULTI_CONFIG
	bool "Use different config files"
	help
		Say Y here if use use different config names based on different modules.

config TARGET_BUILD_FACTORY
	bool "Identify if it's a factory build"
	help
		Say Y here if it's a factory build for touch driver.

config TOUCHCLASS_MMI_MTK_CHARGER
	bool "Support mtk charger detection"
	help
		Say Y here if use mtk charger detection for touchscreen mmi.

config GTP_LAST_TIME
	bool "Support get the timestamp of last touch event"
	help
		Say Y here if need to get the timestamp of last touch event.

config BOARD_USES_DOUBLE_TAP_CTRL
	bool "Support touch wake gesture feature"
	help
		Say Y here if support touch wake gesture feature.
