// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 MediaTek Inc.
 */
/dts-v1/;
/plugin/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/mt6878-pinfunc.h>

#if 0
#include <dt-bindings/pinctrl/mt6897-pinfunc.h>
#endif

&chosen {
bootargs_ext = "arm64.nopauth arm64.nosme arm64.nosve";
};

&mtk_leds {
	compatible = "mediatek,i2c-leds";

	backlight {
		led-mode = <6>;
		gate-enable = <1>;
		pwm-config = <0 1 0 0 0>;
	};
};

&pdc {
	pd-vbus-upper-bound = <9000000>;
};

#if 0

&connfem {
/* Enable epa_elna node to support Wifi & BT ePA/eLNA FEM on customer load */
#if 0
	epa-elna {
		parts = <&wlan7207h &wlan7207c>;
		wifi {
			flags-0 {
				open-loop;
			};
		};
		bt {
			flags-0 {
				/* choose one of: epa-elna/epa/elna/bypass */
				epa-elna;
			};
		};
	};
#endif
};

/* GPS GPIO standardization start */
&pio {
	gps_pins_default: gps-default {
	};
	gps_l1_lna_pins_ol: gps-l1-lna0 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO143__FUNC_GPIO143>;
			output-low;
		};
	};
	gps_l1_lna_pins_dsp_ctrl: gps-l1-lna1 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO143__FUNC_GPS_L1_ELNA_EN>;
		};
	};
	gps_l1_lna_pins_oh: gps-l1-lna2 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO143__FUNC_GPIO143>;
			output-high;
		};
	};
	gps_l5_lna_pins_ol: gps-l5-lna0 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO144__FUNC_GPIO144>;
			output-low;
		};
	};
	gps_l5_lna_pins_dsp_ctrl: gps-l5-lna1 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO144__FUNC_GPS_L5_ELNA_EN>;
		};
	};
	gps_l5_lna_pins_oh: gps-l5-lna2 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO144__FUNC_GPIO144>;
			output-high;
		};
	};
};
&gps {
	pinctrl-names = "default",
		"gps_l1_lna_disable",
		"gps_l1_lna_dsp_ctrl",
		"gps_l1_lna_enable",
		"gps_l5_lna_disable",
		"gps_l5_lna_dsp_ctrl",
		"gps_l5_lna_enable";
	pinctrl-0 = <&gps_pins_default>;
	pinctrl-1 = <&gps_l1_lna_pins_ol>;
	pinctrl-2 = <&gps_l1_lna_pins_dsp_ctrl>;
	pinctrl-3 = <&gps_l1_lna_pins_oh>;
	pinctrl-4 = <&gps_l5_lna_pins_ol>;
	pinctrl-5 = <&gps_l5_lna_pins_dsp_ctrl>;
	pinctrl-6 = <&gps_l5_lna_pins_oh>;
	status = "okay";
};
/* GPS GPIO standardization end */

#endif

&i2c6 {
	spk: speaker-amp@5c {
		compatible = "richtek,rt5512";
		#address-cells = <1>;
		#size-cells = <0>;
		#sound-dai-cells = <0>;
		reg = <0x5c>;
		status = "okay";
		sound-name-prefix = "Left";
	};
};

&sound {
	mediatek,spk-i2s = <25 24>;
	mediatek,speaker-codec {
		sound-dai = <&spk>;
	};
};



&mtkfb {
	pinctrl-names = "lcd_bias_enp1_gpio", "lcd_bias_enp0_gpio",
		"lcd_bias_enn1_gpio", "lcd_bias_enn0_gpio",
		"lcm_rst_out1_gpio", "lcm_rst_out0_gpio",
		"mode_te_te", "lcm_led_en1_gpio", "lcm_led_en0_gpio";
	pinctrl-0 = <&mtkfb_pins_lcd_bias_enp1>;
	pinctrl-1 = <&mtkfb_pins_lcd_bias_enp0>;
	pinctrl-2 = <&mtkfb_pins_lcd_bias_enn1>;
	pinctrl-3 = <&mtkfb_pins_lcd_bias_enn0>;
	pinctrl-4 = <&mtkfb_pins_lcm_rst_out1_gpio>;
	pinctrl-5 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	pinctrl-6 = <&mtkfb_pins_lcm_dsi_te>;
	pinctrl-7 = <&mtkfb_pins_lcm_led_en1>;
	pinctrl-8 = <&mtkfb_pins_lcm_led_en0>;

	status = "okay";
};

&pio {
	mtkfb_pins_lcd_bias_enp1: lcd-bias-enp1-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcd_bias_enp0: lcd-bias-enp0-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcd_bias_enn1: lcd-bias-enn1-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcd_bias_enn0: lcd-bias-enn0-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcm_rst_out1_gpio: lcm-rst-out1-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO90__FUNC_GPIO90>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_rst_out0_gpio: lcm-rst-out0-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO90__FUNC_GPIO90>;
			slew-rate = <1>;
			output-low;
		};
	};
	mtkfb_pins_lcm_dsi_te: lcm-dsi-te {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO89__FUNC_DSI_TE>;
		};
	};

	mtkfb_pins_lcm_led_en1: lcm-led-en1-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_led_en0: lcm-led-en0-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-low;
		};
	};

	sar_int_default: sar_int_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO10__FUNC_GPIO10>;
			input-enable;
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	sar_int_sleep: sar_int_sleep {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO10__FUNC_GPIO10>;
			input-enable;
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	sar_int_default_sub: sar_int_default_sub {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO116__FUNC_GPIO116>;
			input-enable;
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	sar_int_sleep_sub: sar_int_sleep_sub {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO116__FUNC_GPIO116>;
			input-enable;
			drive-strength = <2>;
			bias-pull-up;
		};
	};
};

&dispsys_config {
	pinctrl-names = "mode_te_te";
	pinctrl-0 = <&mtkfb_pins_lcm_dsi_te>;
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	panel1@0 {
		compatible = "jdi,nt36672e,vdo,60hz";
		reg = <0>;
		pm-enable-gpios = <&pio 149 0>;
		reset-gpios = <&pio 90 0>;
		gate-ic = <4831>;
		pinctrl-names = "default";
		port {
			panel_in1: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
	ports {
		port {
			dsi_out: endpoint {
				remote-endpoint = <&panel_in1>;
			};
		};
	};
};

&i2c12 {
	status = "ok";
	sx937x@2c { /* SAR sensor */
		compatible = "Semtech,sx937x";
		reg = <0x2c>;
		Semtech,power-supply-type = <0>;
		cap_vdd-supply = <&mt6363_vio18>;
		pinctrl-names = "default","sleep";
		pinctrl-0 = <&sar_int_default>;
		pinctrl-1 = <&sar_int_sleep>;
		interrupt-parent = <&pio>;
		interrupts = <116 0x02>;
		interrupt-names = "capsense0_irq";
		Semtech,nirq-gpio= <&pio 116 0x02>;
		/*use PH4/5/6 as the reference sensor
		set it to 0xff if the ref-phases-x is not used*/
		Semtech,ref-phases-a = <4>;
		Semtech,ref-phases-b = <5>;
		Semtech,ref-phases-c = <6>;
		Semtech,button-flag = <0x3a>;
		Semtech,button-names = "Moto CapSense Ch1","Moto CapSense Ch3","Moto CapSense Ch4","Moto CapSense Ch5";
		Semtech,debug-name = "capsense0";
		Semtech,flip_operation_num = <3>;
		Semtech,flip_operation_far_num = <3>;
		Semtech,flip_near_init = <
			0x80F8 0x8130
			0x8024 0x0800
			0x4280 0xE
		>;
		Semtech,flip_far_init = <
			0x80F8 0x8830
			0x8024 0x7F00
			0x4280 0xE
		>;
		Semtech,reg-num = <71>;
		Semtech,reg-init = <
			0x4004 0x74
			0x8008 0x0
			0x8020 0x24
			0x8028 0x486
			0x8034 0x486
			0x8040 0x486
			0x804C 0x486
			0x8058 0x48E
			0x8064 0x486
			0x8070 0x486
			0x807C 0x486
			0x8030 0xFFCFFF
			0x803C 0xFFCFFD
			0x8048 0xFFCFFF
			0x8054 0xFFCFEF
			0x8060 0xFFCBFF
			0x806C 0xFECFFF
			0x8078 0xFFCFFF
			0x8084 0x0
			0x802C 0x0
			0x8038 0x0
			0x8044 0x0
			0x8050 0x0
			0x805C 0x0
			0x8068 0x0
			0x8074 0x0
			0x8080 0x0
			0x8098 0x0
			0x80B8 0x662D
			0x80D8 0x0
			0x8118 0x8F8F
			0x8138 0x7A7A
			0x8158 0x0
			0x8178 0x0
			0x80A0 0x0
			0x80C0 0x19190003
			0x80E0 0x0
			0x8100 0x0F0F0001
			0x8120 0x21210003
			0x8140 0x14140002
			0x8160 0x0
			0x8180 0x0
			0x8188 0x8000010
			0x818C 0x8000012
			0x8190 0x8000016
			0x8194 0x0
			0x8090 0x2AD67000
			0x80B0 0x2AD67000
			0x80D0 0x2AD67000
			0x80F0 0x2AD67000
			0x8110 0x2AD67000
			0x8130 0x2AD67000
			0x8150 0x2AD67000
			0x8170 0x0
			0x8088 0x300000
			0x80A8 0x300000
			0x80C8 0x300000
			0x80E8 0x300000
			0x8108 0x300000
			0x8128 0x300000
			0x8148 0x300000
			0x8168 0x0
			0x808C 0xA020003C
			0x80AC 0xA020003C
			0x80CC 0xA020003C
			0x80EC 0xA020003C
			0x810C 0xA0200030
			0x812C 0xA020003C
			0x814C 0xA020003C
			0x816C 0xA020003C
			0x8024 0x7F00
		>;
		status = "ok";
	};

	sx937x@24 { /* SAR sensor */
		compatible = "Semtech,sx937x";
		reg = <0x24>;
		Semtech,power-supply-type = <0>;
		cap_vdd-supply = <&mt6363_vio18>;
		pinctrl-names = "default","sleep";
		pinctrl-0 = <&sar_int_default_sub>;
		pinctrl-1 = <&sar_int_sleep_sub>;
		interrupt-parent = <&pio>;
		interrupts = <10 0x02>;
		interrupt-names = "capsense1_irq";
		Semtech,nirq-gpio= <&pio 10 0x02>;
		/*use PH4/5/6 as the reference sensor
		set it to 0xff if the ref-phases-x is not used*/
		Semtech,ref-phases-a = <4>;
		Semtech,ref-phases-b = <5>;
		Semtech,ref-phases-c = <6>;
		Semtech,button-flag = <0x45>;
		Semtech,button-names = "Moto CapSense Ch0","Moto CapSense Ch2","Moto CapSense Ch6";
		Semtech,debug-name = "capsense1";
		Semtech,flip_operation_num = <2>;
		Semtech,flip_operation_far_num = <2>;
		Semtech,flip_near_init = <
			0x8024 0x0400
			0x4280 0xE
		>;
		Semtech,flip_far_init = <
			0x8024 0x7F00
			0x4280 0xE
		>;
		Semtech,reg-num = <72>;
		Semtech,reg-init = <
			0x4004 0x74
			0x8008 0x0
			0x8020 0x32
			0x8028 0x456
			0x8034 0x476
			0x8040 0x456
			0x804C 0x476
			0x8058 0x476
			0x8064 0x476
			0x8070 0x456
			0x807C 0x476
			0x8030 0xFFCFFD
			0x803C 0xFFCFFF
			0x8048 0xFFCFEF
			0x8054 0xFFCFFF
			0x8060 0xFFFCFF
			0x806C 0xFFCFFF
			0x8078 0xFECBFF
			0x8084 0x0
			0x802C 0x0
			0x8038 0x0
			0x8044 0x0
			0x8050 0x0
			0x805C 0x0
			0x8068 0x0
			0x8074 0x0
			0x8080 0x0
			0x8098 0x753F
			0x80B8 0x0
			0x80D8 0x7F30
			0x80F8 0x0
			0x8118 0x0
			0x8138 0x0
			0x8158 0x7F7F
			0x8178 0x0
			0x80A0 0x15150001
			0x80C0 0x0
			0x80E0 0x40400002
			0x8100 0x0
			0x8120 0x0
			0x8140 0x0
			0x8160 0x15150003
			0x8180 0x0
			0x8188 0x8000011
			0x818C 0x8000015
			0x8190 0x8000015
			0x8194 0x0
			0x8090 0x2ADE7000
			0x80B0 0x2AD67000
			0x80D0 0x2ADE7000
			0x80F0 0x2AD67000
			0x8110 0x2AD67000
			0x8130 0x2AD67000
			0x8150 0x2AD67000
			0x8170 0x0
			0x8088 0x2300000
			0x80A8 0x300000
			0x80C8 0x300000
			0x80E8 0x300000
			0x8108 0x300000
			0x8128 0x300000
			0x8148 0x2300000
			0x8168 0x0
			0x808C 0xA020003C
			0x80AC 0xA020003C
			0x80CC 0xA020003C
			0x80EC 0xA020003C
			0x810C 0xA020003C
			0x812C 0xA020003C
			0x814C 0xA0200030
			0x816C 0x0
			0x8024 0x7F00
		>;
		status = "ok";
	};
};

//#include <k6878v1_64/cust.dtsi>
#include "mediatek/cust_mt6878_touch_1080x2400.dtsi"
#include "mediatek/cust_k6878_connfem.dtsi"
/*End of this file, DO NOT ADD ANYTHING HERE*/
