/* Copyright (c) 2023, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "mediatek/mt6897-moto-common-overlay-single-panel.dtsi"


//#include "mediatek/cust_cybert_camera_v4l2.dtsi"
#include "mediatek/cybert-charger.dtsi"
#include "mediatek/cybert-fps.dtsi"
//#include "mediatek/cybert-ntc.dtsi"
#include "mediatek/cybert-display.dtsi"
#include "mediatek/cybert-touch.dtsi"
#include "mediatek/cybert-audio.dtsi"

&rt5133 {
	status = "disabled";
};

&regulator_vibrator {
	status = "disabled";
};

&mmc1 {
	status = "disabled";
};

&pio {
	nfc_spi_cs_mode_spi: nfc_spi_cs_mode_spi {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO28__FUNC_SPI3_CSB>;
			bias-disable;
		};
	};

	nfc_spi_cs_mode_idle: nfc_spi_cs_mode_idle {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO28__FUNC_GPIO28>;
			bias-disable;
		};
	};
};


&spi3 {
	st54spi: st54spi@0 {
		compatible = "st,st54spi";
		reg = <0>;
		spi-max-frequency = <1000000>;
		gpio-power_nreset = <36>;
		gpio-power_nreset-std = <&pio 36 0x00>;
		power_mode = "ST54J";
		bootmode = <&chosen>;
		pinctrl-names = "pinctrl_state_mode_spi",
				"pinctrl_state_mode_idle";
		pinctrl-0 = <&nfc_spi_cs_mode_spi>;
		pinctrl-1 = <&nfc_spi_cs_mode_idle>;
		status = "okay";
	};
};

&i2c3 {
	status = "ok";

	st21nfc: st21nfc@0x08 {
		compatible = "st,st21nfc";
		reg = <0x08>;
		interrupt-parent = <&pio>;
		interrupts = <37 0>;
		bootmode = <&chosen>;
		reset-gpios = <&pio 38 0x00>;
		irq-gpios = <&pio 37 0x00>;
		clkreq-gpios = <&pio 84 0x00>;
		status = "ok";
	};
};

&pio {
	sar_int_default: sar_int_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO39__FUNC_GPIO39>;
			input-enable;
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	sar_int_sleep: sar_int_sleep {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO39__FUNC_GPIO39>;
			input-enable;
			drive-strength = <2>;
			bias-pull-up;
		};
	};
	gpio1_input_pull_up: gpio1_input_pull_up {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO24__FUNC_GPIO24>;
			slew-rate = <0>;
			bias-pull-up = <00>;
		};
	};
};

&therm_intf {
	/*Vsensor name should be CASE DIFFERENT with the name in config file*/
	mmi,temperature-names = "BACK_TEMP", "FRONT_TEMP";/*for "back_temp" in config file*/
};

&i2c5 {
	hl7603@77 {
		status = "ok";
		compatible = "hl7603";
		reg = <0x77>;
		/* hl7603_vout_voltage = <0x0B>; //3.4v */
	};
};

&i2c0 {
	status = "ok";

	sx937x@2c { /* SAR sensor */
		compatible = "Semtech,sx937x";
		reg = <0x2c>;
		Semtech,power-supply-type = <0>;
		cap_vdd-supply = <&mt6363_vio18>;
		pinctrl-names = "default","sleep";
		pinctrl-0 = <&sar_int_default>;
		pinctrl-1 = <&sar_int_sleep>;
		interrupt-parent = <&pio>;
		interrupts = <39 0x02>;
		interrupt-names = "capsense0_irq";
		Semtech,nirq-gpio= <&pio 39 0x02>;
		esd-reinit-on = <1>;
		/*use PH5/6 as the reference sensor
		set it to 0xff if the ref-phases-x is not used*/
		Semtech,ref-phases-a = <5>;
		Semtech,ref-phases-b = <6>;
		Semtech,ref-phases-c = <0xff>;
		Semtech,button-flag = <0x0f>;
		Semtech,reg-num = <61>;
		Semtech,reg-init = <
			0x8024 0x00007F00
			0x4004 0x00000070
			0x4008 0x00000008
			0x8020 0x00000032
			0x8028 0x0000085E
			0x8034 0x0000086E
			0x8040 0x0000086E
			0x804C 0x0000085E
			0x8058 0x0000086E
			0x8064 0x0000086E
			0x8070 0x0000086E
			0x807C 0x0000085E
			0x8030 0x00924925
			0x803C 0x00B24924
			0x8048 0x0092C924
			0x8054 0x00964924
			0x8060 0x0092492C
			0x806C 0x00925924
			0x8078 0x00924964
			0x8084 0x00FFFFFF
			0x8098 0x00006E37
			0x80B8 0x00003232
			0x80D8 0x00006037
			0x80F8 0x00003737
			0x8118 0x000000FF
			0x8138 0x000000FF
			0x8158 0x000000FF
			0x8178 0x000000C8
			0x80A0 0x1E1E0001
			0x80C0 0x30300000
			0x80E0 0x20200002
			0x8100 0x20200003
			0x8188 0x08000014
			0x818C 0x08000015
			0x8190 0x08000016
			0x8090 0x54B45000
			0x80B0 0x54B85000
			0x80D0 0x54B45000
			0x80F0 0x54B45000
			0x8110 0x00005300
			0x8130 0x00005300
			0x8150 0x00005300
			0x8170 0x00005300
			0x8088 0x00300000
			0x80A8 0x00300000
			0x80C8 0x00300000
			0x80E8 0x00300000
			0x8108 0x00300000
			0x8128 0x06300000
			0x8148 0x06300000
			0x8168 0x00300000
			0x808C 0x60200030
			0x80AC 0x60200030
			0x80CC 0x60200030
			0x80EC 0x60200030
			0x810C 0x60200030
			0x812C 0x60200030
			0x814C 0x60200030
			0x816C 0x60200030
			0x802C 0x00918246
			0x8038 0x00510144
		>;
		status = "okay";
	};
	awinic_sar:awinic_sar@12 {
			/* common node */
			compatible = "awinic,aw_sar";
			reg = < 0x12 >;
			sar-num = < 0 >;
			pinctrl-names = "default","sleep";
			pinctrl-0 = <&sar_int_default>;
			pinctrl-1 = <&sar_int_sleep>;
			interrupt-parent = <&pio>;
			interrupts = <39 0x02>;
			interrupt-names = "awinic_irq";
			irq-gpio = <&pio 39 0x02>;
			//vcc0-supply = <&mt6363_vio18>;
			channel_use_flag = <0x0f>;
			monitor_esd_flag = <1>;
			aw_sar,use_plug_cail;
			aw_sar,update_fw;
			aw_sar,using_pm_ops;
			/* private node belongs to aw963xx */
			start-mode = < 1 >; // 0: start in rom  1: start in ram
			irq-mux = < 2 >; // set csx as irq pin. config this field when connect to aw96308/aw96310
			status = "okay";
	};
};

&i2c1 {
	clock-frequency = <400000>;
	status = "okay";
	haptic_hv@5A {
		status = "okay";
		compatible = "awinic,haptic_hv";
		reg = <0x5A>;
		irq-gpio = <&pio 24 0>;
		reset-gpio = <&pio 23 0>;
		pinctrl-names = "irq_active";
		pinctrl-0 = <&gpio1_input_pull_up>;
		f0_pre = < 1700 >;
		mode = /bits/ 8 < 5 >;

		aw8692x_f0_cali_percent = /bits/ 8 < 7 >;
		aw8692x_gain_bypass = /bits/ 8 < 1 >;
		aw8692x_cont_drv1_lvl = /bits/ 8 < 0x7F >;
		aw8692x_cont_lra_vrms = < 1500 >;
		aw8692x_cont_drv1_time = /bits/ 8 < 0x04 >;
		aw8692x_cont_drv2_time = /bits/ 8 < 0x66 >;
		aw8692x_cont_track_margin = /bits/ 8 < 0x0F >;
		aw8692x_cont_brk_gain = /bits/ 8 < 0x08 >;
		aw8692x_cont_brk_time = /bits/ 8 < 0x08 >;
		aw8692x_duration_time = /bits/ 8 < 34 67 101 >;
		aw8692x_d2s_gain = /bits/ 8 < 0x04 >;
		aw8692x_trig_config = /bits/ 8 < 0 0 0 1 0 2 0 0
						 0 0 0 1 0 2 0 0
						 0 0 0 1 0 2 0 0 >;
		aw8692x_bst_vol_default = < 10000 >;
		aw8692x_is_enabled_track_en;
		/* aw8692x_is_enabled_auto_bst; */
		/* aw8692x_is_enabled_one_wire; */
	};

};
