/*
 * Copyright (C) 2023 Motorola Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See http://www.gnu.org/licenses/gpl-2.0.html for more details.
 */
aito-atl-3060mah {
	serialnum = "SB18E12803";
	fcc_design = <3060>;
	//ui_full = <98>;
	config_profile_info = [ 32 00 00 00 00 00 00 00
				AD B9 B3 C4 AF A8 CE B4
				A2 FF EF C2 96 81 6A 59
				4D 46 3D 9D 81 E4 9E FF
				FF C9 CE D2 D8 DA D9 D7
				DE CF D2 C1 AF A9 AE AA
				BB A8 C2 CE D2 FE FF 5C
				20 00 AB 10 00 A2 D5 00
				00 00 64 08 B1 BB 00 00
				00 00 00 00 00 00 00 82];
};
