/*
 * Copyright (C) 2023 Motorola Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See http://www.gnu.org/licenses/gpl-2.0.html for more details.
 */
aito-atl-1140mah {
	serialnum = "SB18E12803";
	fcc_design = <1140>;
	//ui_full = <98>;
	config_profile_info = [ 32 00 00 00 00 00 00 00
				A9 B8 B6 CE B6 B2 BE 99
				89 FF F5 BF 96 81 68 57
				4A 43 35 8B 5C E3 91 FF
				E6 D2 CD D3 D7 DA D6 D8
				DB CC D2 BC AC A6 AC A9
				B8 A8 C2 CE D0 F9 FF 5F
				20 00 AB 10 00 80 AF 00
				00 00 64 07 A3 DB 00 00
				00 00 00 00 00 00 00 F6];
};
