/*
 * Copyright (C) 2023 Motorola Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See http://www.gnu.org/licenses/gpl-2.0.html for more details.
 */
aito-atl-1140mah {
	serialnum = "SB18E12803";
	fcc_design = <1140>;
	//ui_full = <98>;
	config_profile_info = [ 46 00 00 00 00 00 00 00
				A9 B8 B6 CC B6 B1 BD 99
				86 FF F7 C1 99 83 6B 59
				4C 45 38 8D 5C E3 2D FC
				D4 C6 CB D2 D8 DB D9 DA
				DE D0 D3 BF B0 A9 AE AD
				B9 A8 C4 CE D2 FD FF EF
				20 00 AB 10 00 80 A4 00
				00 00 64 07 A3 C9 00 00
				00 00 00 00 00 00 00 F0];
};
