/*
 * Copyright (C) 2023 Motorola Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See http://www.gnu.org/licenses/gpl-2.0.html for more details.
 */
aito-atl-3060mah {
	serialnum = "SB18E12803";
	fcc_design = <3060>;
	//ui_full = <98>;
	config_profile_info = [ 32 00 00 00 00 00 00 00
				AD B9 B3 C4 AF A8 CE B4
				A2 FF EE C2 96 81 69 58
				4C 46 3C 9D 81 E3 A2 FF
				F2 C4 CE D3 D8 D9 D7 D7
				DD CD D1 BD AE A8 AE A9
				BA A6 C2 CE D1 FF FF 5E
				20 00 AB 10 00 A2 E5 00
				00 00 64 08 B1 C9 00 00
				00 00 00 00 00 00 00 F8];
};
