/*
 * Copyright (C) 2023 Motorola Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See http://www.gnu.org/licenses/gpl-2.0.html for more details.
 */
aito-cosmx-1140mah {
	serialnum = "SB18E19548";
	fcc_design = <1140>;
	//ui_full = <98>;
	config_profile_info = [ 46 00 00 00 00 00 00 00
				AB C2 C2 C7 B6 AD C5 A4
				96 FF E4 BB 94 81 67 55
				4B 46 41 85 5D E3 03 F1
				E3 CE CE D3 D5 D7 D6 D5
				D8 CF D0 BC AC A3 A7 A7
				B1 B9 9F D5 D3 FF FF EE
				20 00 AB 10 00 80 C9 00
				00 00 64 19 90 04 00 00
				00 00 00 00 00 00 00 14];
};
