/*
 * Copyright (C) 2024 Motorola Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See http://www.gnu.org/licenses/gpl-2.0.html for more details.
 */
webb-atl-3340mah {
	serialnum = "SB18E56671";
	fcc_design = <3340>;
	config_profile_info = [ 46 00 00 00 00 00 00 00
				AF C1 AF C7 B3 AC C9 AA
				9B FF F7 C9 93 7B 62 51
				48 47 44 8D 69 E4 6D FF
				D9 AF C7 CF D6 E1 E7 DD
				DC DA D0 D1 CE CA BE D3
				D2 DA CF DF F8 FF FF FF
				20 00 AB 10 00 A2 83 00
				00 00 64 3F B1 76 00 00
				00 00 00 00 00 00 00 70];
};
