# SPDX-License-Identifier: GPL-2.0-only

menu "MOTO Kconfig support"

config SCHED_MOTO_UNFAIR
    tristate "Moto sched support for mtk vip task"
    default n
    help
      This feature will allow the scheduler to maintain more detailed
      mvp scheduling.

config MOTO_USBNET_DEBUG
    tristate "Moto usbnet debug"
    default n
    help
      Debug moto usbnet issue

endmenu
